[submodule "colorscheme.ego"]
	path = colorscheme.ego
	url = https://github.com/geetarista/ego.vim.git
[submodule "colorscheme.tomorrow"]
	path = colorscheme.tomorrow
	url = https://github.com/matthewotto/Vim-Tomorrow-Theme.git
[submodule "plugin.checksyntax"]
	path = plugin.checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "plugin.align"]
	path = plugin.align
	url = https://github.com/tsaleh/vim-align.git
[submodule "plugin.sparkup"]
	path = plugin.sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "bundle.php-integration"]
	path = bundle.php-integration
	url = git@github.com:xoob/PIV.git
[submodule "ftplugin.help-shortcuts"]
	path = ftplugin.help-shortcuts
	url = https://github.com/juanpabloaj/help.vim.git
[submodule "plugin.neocomplcache"]
	path = plugin.neocomplcache
	url = https://github.com/Shougo/neocomplcache
[submodule "plugin.nerdtree-tabs"]
	path = plugin.nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
